<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射-->
<mapper namespace="dao.AddUserMapper">
    <insert id="saveUser">
        insert into user values (#{user.name},#{user.password},#{user.realname},#{user.sex},#{user.img_path});
    </insert>
</mapper>